.btn {
  display: block;
  width: 80%;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}
.input_field {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  height: 150px;
}


.login-form {
  min-width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}
